#backButton,#forwardButton, #reloadButton, #searchButton, #newTabButton, #newBookmarkButton, #homeButton{
    -fx-background-color: #424242;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #EEE;
    -fx-background-insets: 0 0 0 5px, 0 0 2px 0;
    -fx-border-insets: 0 0 0 5px, 0 0 2px 0;
}

#backButton:hover,#forwardButton:hover, #reloadButton:hover, #searchButton:hover, #newTabButton:hover, #newBookmarkButton:hover, #homeButton:hover{
    -fx-background-color: #555;
}

#backButton:pressed,#forwardButton:pressed, #reloadButton:pressed, #searchButton:pressed, #newTabButton:pressed, #newBookmarkButton:pressed, #homeButton:pressed{
    -fx-background-color: #333;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

}

#root {
    -fx-background-color: #1c1c1c;
}

.tab-header-area {
    -fx-background-color: #141414;
}

.tab {
    -fx-background-color: #141414;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 15px 15px 0 0;
    -fx-padding: 0.75em 1em 0.75em 1em;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-height: 30px;
}

.tab:hover {
    -fx-background-color: #2e2e2e;
}

.tab:selected {
    -fx-background-color: #ADD8E6;
    -fx-background-radius: 15px 15px 0 0;
}

.tab:disabled {
    -fx-opacity: 0.5;
}

.tab-close-button {
    -fx-background-color: transparent;
}

.tab-close-button:hover {
    -fx-background-color: #333333;
}

.tab-close-button:selected:hover {
    -fx-background-color: #b22222;
}

.tab-close-button:selected {
    -fx-background-color: #ff0000;
}

.tab-pane *.tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.tab-pane .tab {
    -fx-background-color: #BBDEFB;
    -fx-border-color: #2196F3;
    -fx-border-width: 0 0 2 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 15px 15px 0 0;
}


/* Styles for the toolbar */
.tool-bar {
    -fx-background-color: #f2f2f2;
}

/* Styles for the buttons in the toolbar */
.tool-bar {
    -fx-background-color: #141414;
}

/* Styles for the buttons in the toolbar */
.tool-bar .button {
    -fx-background-color: #141414;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.5em;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

/* Styles for the selected button in the toolbar */
.tool-bar .button:pressed {
    -fx-background-color: #4b4b4b;
}

/* Styles for the text field in the toolbar */
.tool-bar .text-field {
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 3;
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 0;
    -fx-padding: 5;
    -fx-text-fill: white;
}

/* Styles for the logout button in the toolbar */
.tool-bar .button#logoutButton {
    -fx-background-color: #ff4b4b;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.5em;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

/* Styles for the new bookmark button in the toolbar */
.tool-bar .button#newBookmarkButton {
    -fx-background-color: #3498db;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.5em;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

/* Styles for the search field in the toolbar */
.tool-bar .text-field#searchField {
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 3;
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 0;
    -fx-padding: 5;
    -fx-text-fill: white;
}

/* Styles for the navigation buttons in the toolbar */
.tool-bar .button#navigationButton {
    -fx-background-color: #141414;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.5em;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}



